Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src)/'
FormatStyle: file
CheckOptions:
  performance-move-const-arg.CheckTriviallyCopyableMove: '0'
